<%- include ('partials/header'); -%>


<section id="carousel">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100"
                    src="https://images.unsplash.com/photo-1467931701857-c66e9e144633?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1028&q=80"
                    height="480" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                    <h1>Wheat</h1>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem at saepe facere laborum, ea
                        repudiandae rem corrupti. Ex, quia. Blanditiis aliquam similique deleniti odit impedit, dolores
                        omnis autem repellendus nesciunt!</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100"
                    src="https://images.unsplash.com/photo-1574943320219-553eb213f72d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1882&q=80"
                    height="480" alt="Second slide">
                <div class="carousel-caption d-none d-md-block">
                    <h1>Cultivation</h1>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque, sapiente nihil, tenetur saepe
                        incidunt nostrum magnam odio blanditiis iure est voluptatem doloribus vero suscipit architecto
                        corporis ducimus. Sed, itaque fugit.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100"
                    src="https://images.unsplash.com/photo-1598206026929-9cb1595f34c8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80"
                    height="480" alt="Third slide">
                <div class="carousel-caption d-none d-md-block">
                    <h1>Rice</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore numquam sequi nobis! Magnam
                        omnis dolorum labore blanditiis iure, explicabo adipisci alias eos rerum repellendus possimus,
                        tenetur, illum perferendis delectus! Facilis.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100"
                    src="https://images.unsplash.com/photo-1497092801449-b782257c9756?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1053&q=80"
                    height="480" alt="Third slide">
                <div class="carousel-caption d-none d-md-block">
                    <h1>Suger Cane</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore numquam sequi nobis! Magnam
                        omnis dolorum labore blanditiis iure, explicabo adipisci alias eos rerum repellendus possimus,
                        tenetur, illum perferendis delectus! Facilis.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100"
                    src="https://images.unsplash.com/photo-1593692130334-3ffdb82419f7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1055&q=80"
                    height="480" alt="Third slide">
                <div class="carousel-caption d-none d-md-block">
                    <h1>Grains</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore numquam sequi nobis! Magnam
                        omnis dolorum labore blanditiis iure, explicabo adipisci alias eos rerum repellendus possimus,
                        tenetur, illum perferendis delectus! Facilis.</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span aria-hidden="true"><i class="fa fa-chevron-circle-left fa-5x" aria-hidden="true"></i></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span aria-hidden="true"><i class="fa fa-chevron-circle-right fa-5x" aria-hidden="true"></i></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>

<div class="container bg-light p-4 mt-5">
    <div class="row">
        <div class="col-md-10">
            <h3>Top 3 Deals of Wheat</h3>
        </div>
        <div class="col-md-2"><a class="text-dark font-weight-bold" href="#">View more</a></div>
    </div>
    <div class="card-deck p-3">
        <div class="card">
            <img class="card-img-top"
                src="https://images.unsplash.com/photo-1415381850596-1d29bce989f8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Wheat 1</h5>
                <p class="card-text">Available Quantity : <span class="font-weight-bold"> 1000 Quintals</span></p>
                <p class="card-text">Price : <span class="font-weight-bold"> 50/Quintals</span></p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Posted on 07/11/2020</small>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top"
                src="https://images.unsplash.com/photo-1562957806-6fd9fe82f9a0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Wheat 2</h5>
                <p class="card-text">Available Quantity : <span class="font-weight-bold"> 1000 Quintals</span></p>
                <p class="card-text">Price : <span class="font-weight-bold"> 50/Quintals</span></p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Posted on 07/11/2020</small>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top"
                src="https://images.unsplash.com/photo-1503430215910-ba12c8478962?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Wheat 3</h5>
                <p class="card-text">Available Quantity : <span class="font-weight-bold"> 1000 Quintals</span></p>
                <p class="card-text">Price : <span class="font-weight-bold"> 50/Quintals</span></p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Posted on 07/11/2020</small>
            </div>
        </div>
    </div>
</div>
<div class="container bg-light p-4 mt-5">
    <div class="row">
        <div class="col-md-10">
            <h3>Top 3 Deals of Pulses</h3>
        </div>
        <div class="col-md-2"><a class="text-dark font-weight-bold" href="#">View more</a></div>
    </div>
    <div class="card-deck p-3">
        <div class="card">
            <img class="card-img-top" src="https://pulses.org/images/common-pulses/definition_redlentils.png"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Pulse 1</h5>
                <p class="card-text">Available Quantity : <span class="font-weight-bold"> 1000 Quintals</span></p>
                <p class="card-text">Price : <span class="font-weight-bold"> 50/Quintals</span></p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Posted on 07/11/2020</small>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="https://pulses.org/images/common-pulses/definition_lgegreenlentils.png"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Pulse 2</h5>
                <p class="card-text">Available Quantity : <span class="font-weight-bold"> 1000 Quintals</span></p>
                <p class="card-text">Price : <span class="font-weight-bold"> 50/Quintals</span></p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Posted on 07/11/2020</small>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top"
                src="https://previews.123rf.com/images/unknown1861/unknown18611203/unknown1861120300005/12798685-heap-of-green-lentil-on-white-background.jpg"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Pulse 3</h5>
                <p class="card-text">Available Quantity : <span class="font-weight-bold"> 1000 Quintals</span></p>
                <p class="card-text">Price : <span class="font-weight-bold"> 50/Quintals</span></p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Posted on 07/11/2020</small>
            </div>
        </div>
    </div>
</div>
<div class="container bg-light p-4 mt-5">
    <div class="row">
        <div class="col-md-10">
            <h3>Top 3 Deals of Rice</h3>
        </div>
        <div class="col-md-2"><a class="text-dark font-weight-bold" href="#">View more</a></div>
    </div>
    <div class="card-deck p-3">
        <div class="card">
            <img class="card-img-top"
                src="https://lh3.googleusercontent.com/proxy/mtNDN5lsmBedhur10N3mYzhfSn11-ndr1r7-_jWmLzysqaP0gxG8XIR0ArfZ41i4jSx9c1cZOD3F1juxicMzxYSLhgziAnCLMBqv"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Rice 1</h5>
                <p class="card-text">Available Quantity : <span class="font-weight-bold"> 1000 Quintals</span></p>
                <p class="card-text">Price : <span class="font-weight-bold"> 50/Quintals</span></p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Posted on 07/11/2020</small>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top"
                src="https://toppng.com/uploads/preview/basmati-rice-white-rice-1156303176889tceyf7sz.png"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Rice 2</h5>
                <p class="card-text">Available Quantity : <span class="font-weight-bold"> 1000 Quintals</span></p>
                <p class="card-text">Price : <span class="font-weight-bold"> 50/Quintals</span></p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Posted on 07/11/2020</small>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="https://www.nicepng.com/png/full/7-77730_cooked-rice-png.png"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Rice 3</h5>
                <p class="card-text">Available Quantity : <span class="font-weight-bold"> 1000 Quintals</span></p>
                <p class="card-text">Price : <span class="font-weight-bold"> 50/Quintals</span></p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Posted on 07/11/2020</small>
            </div>
        </div>
    </div>
</div>
<div class="container bg-light p-4 mt-5">
    <div class="row">
        <div class="col-md-10">
            <h3>Top 3 Deals of Sugercane</h3>
        </div>
        <div class="col-md-2"><a class="text-dark font-weight-bold" href="#">View more</a></div>
    </div>
    <div class="card-deck p-3">
        <div class="card">
            <img class="card-img-top" src="https://wallpapercave.com/wp/ylogQhU.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Sugercane 1</h5>
                <p class="card-text">Available Quantity : <span class="font-weight-bold"> 1000 Quintals</span></p>
                <p class="card-text">Price : <span class="font-weight-bold"> 50/Quintals</span></p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Posted on 07/11/2020</small>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top"
                src="https://st3.depositphotos.com/16903508/19188/i/1600/depositphotos_191888956-stock-photo-sugarcane-field.jpg"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Sugercane 2</h5>
                <p class="card-text">Available Quantity : <span class="font-weight-bold"> 1000 Quintals</span></p>
                <p class="card-text">Price : <span class="font-weight-bold"> 50/Quintals</span></p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Posted on 07/11/2020</small>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top"
                src="https://media.istockphoto.com/photos/the-sugar-cane-picture-id965303384?k=6&m=965303384&s=612x612&w=0&h=W_Qs5oonjBnsYcHk9byov6BvoEyrOcf3bVniEsGtgA0="
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Sugercane 3</h5>
                <p class="card-text">Available Quantity : <span class="font-weight-bold"> 1000 Quintals</span></p>
                <p class="card-text">Price : <span class="font-weight-bold"> 50/Quintals</span></p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Posted on 07/11/2020</small>
            </div>
        </div>
    </div>
</div>
<div class="container bg-light p-4 mt-5">
    <div class="row">
        <div class="col-md-10">
            <h3>Top 3 Deals of Dry Fruits</h3>
        </div>
        <div class="col-md-2"><a class="text-dark font-weight-bold" href="#">View more</a></div>
    </div>
    <div class="card-deck p-3">
        <div class="card">
            <img class="card-img-top"
                src="https://images.unsplash.com/photo-1602948750761-97ea79ee42ec?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Dry Fruit 1</h5>
                <p class="card-text">Available Quantity : <span class="font-weight-bold"> 1000 Quintals</span></p>
                <p class="card-text">Price : <span class="font-weight-bold"> 50/Quintals</span></p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Posted on 07/11/2020</small>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top"
                src="https://images.unsplash.com/photo-1567427016579-2ae28653fac1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=815&q=80"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Dry Fruit 2</h5>
                <p class="card-text">Available Quantity : <span class="font-weight-bold"> 1000 Quintals</span></p>
                <p class="card-text">Price : <span class="font-weight-bold"> 50/Quintals</span></p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Posted on 07/11/2020</small>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="https://5.imimg.com/data5/CB/GX/MY-31007920/w320-cashew-nuts-500x500.jpg"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Dry Fruit 3</h5>
                <p class="card-text">Available Quantity : <span class="font-weight-bold"> 1000 Quintals</span></p>
                <p class="card-text">Price : <span class="font-weight-bold"> 50/Quintals</span></p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Posted on 07/11/2020</small>
            </div>
        </div>
    </div>
</div>
<div class="container bg-light p-4 mt-5">
    <div class="row">
        <div class="col-md-10">
            <h3>Top 3 Deals of Vegetables</h3>
        </div>
        <div class="col-md-2"><a class="text-dark font-weight-bold" href="#">View more</a></div>
    </div>
    <div class="card-deck p-3">
        <div class="card">
            <img class="card-img-top"
                src="https://images.unsplash.com/photo-1588405963272-3f3792804b07?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Vegetable 1</h5>
                <p class="card-text">Available Quantity : <span class="font-weight-bold"> 1000 Quintals</span></p>
                <p class="card-text">Price : <span class="font-weight-bold"> 50/Quintals</span></p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Posted on 07/11/2020</small>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top"
                src="https://images.unsplash.com/photo-1573381353478-4f9ad238ade5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Vegetable 2</h5>
                <p class="card-text">Available Quantity : <span class="font-weight-bold"> 1000 Quintals</span></p>
                <p class="card-text">Price : <span class="font-weight-bold"> 50/Quintals</span></p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Posted on 07/11/2020</small>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top"
                src="https://images.unsplash.com/photo-1528505086635-4c69d5f10908?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1989&q=80"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Vegetable 3</h5>
                <p class="card-text">Available Quantity : <span class="font-weight-bold"> 1000 Quintals</span></p>
                <p class="card-text">Price : <span class="font-weight-bold"> 50/Quintals</span></p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Posted on 07/11/2020</small>
            </div>
        </div>
    </div>
</div>
<footer class="bg-dark">
    <div class="row">
        <div class="col-md-2 mt-2 text-white">
            <ul class="p-5">
                <h6 class="font-weight-bold">POPULAR LOCATIONS</h6>
                <li>Kolkata</li>
                <li>Mumbai</li>
                <li>Chennai</li>
                <li>Pune</li>
            </ul>
        </div>
        <div class="col-md-2 mt-2 text-white">
            <ul class="p-5">
                <h6 class="font-weight-bold">TRENDING LOCATIONS</h6>
                <li>Bhubneshwar</li>
                <li>Nasik</li>
                <li>Bangalore</li>
                <li>Kerala</li>
            </ul>
        </div>
        <div class="col-md-2 mt-2 text-white">
            <ul class="p-5">
                <h6 class="font-weight-bold">ABOUT US</h6>
                <li>About AgriTech Group</li>
                <li>Careers</li>
                <li>Contact Us</li>
            </ul>
        </div>
        <div class="col-md-2 mt-2 text-white">
            <ul class="p-5">
                <h6 class="font-weight-bold">AGRITECH</h6>
                <li>Help</li>
                <li>Sitemap</li>
                <li>Legal and privacy</li>
            </ul>
        </div>
        <div class="col-md-4 mt-2 p-5 text-white">
            <h6 class="font-weight-bold ml-5">FOLLOW US</h6>
            <span><i class="fa fa-facebook-square ml-5"></i></span><span><i
                    class="fa fa-instagram ml-3"></i></span><span><i class="fa fa-twitter ml-3"></i></span><span><i
                    class="fa fa-play ml-3"></i></span><span><i class="fa fa-linkedin ml-3"></i></span><br><br>
            <h6 class="font-weight-bold ml-5">©️2020 COPYRIGHT : AGRITECH</h6>
            <h6 class="font-weight-bold ml-5">CREATED BY: </h6>
            <p class="ml-5">ARPIT, AMAN, ARJUN</p>
        </div>

</footer>

<%- include ('partials/footer'); -%>